
@{
    ViewData["Title"] = "AddToCart";
}
<style>

    h1,p {
        text-align:center;
    }
</style>
<h1 >Cart</h1>
<p>Item added to cart successfully
    <a asp-action="GetItems" asp-controller="customer" >Back</a>
 </p>

